:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  height: 100%;
}

#editor {
  height: 100vh;
}

.cm-editor {
  height: 100%;
}
